body {
	margin: 0px;
	border: 0px;
	background: black;
	text-align: center;
	overflow: hidden;
}

.buzzerlight {
	display: inline-block;
	width: 24.5%;
	height: 95%;
	margin: 0px;
	border: 0px;
	opacity: 0.5;
	color: white;
	box-shadow: inset 0px 0px 10px 5px #222222;
	padding-top: 15px;
	font-size: 2em;
}

.pressed {
	opacity: 1.0;
}

#blue {
	background: deepskyblue;
}

#orange {
	background: orange;
}

#green {
	background: lawngreen;
}

#red {
	background: red;
}